.top-bar p {
    display: inline;
    color: grey;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    padding: 20px 60px;
}

.about {
    display: flex;
    gap: 20px;
}

.about i {
    color: orangered;
}

.icons i {
    font-size: 18px;
    border-radius: 50%;
    padding: 4px;
    padding-right: 20px;
    background-color: lightgray;
    color: white;
}

.villa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav a {
    text-decoration: none;
    display: flex;
    color: black;
}

.schedule {
    background-color: black;
    color: red;
    border-radius: 20px;
    padding: 5px;
    width: 150px;
}

.schedule i {
    color: white;
    background-color: orangered;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 7px 3px;
}

.navbar {
    display: none;
}

.place {
    background-color: white;
    text-align: center;
    width: 130px;
    padding: 2px;
}

#carouselExample {
    position: relative;
}

.content h2 {
    color: white;
    font-size: 53px;
    font-weight: bold;
}

.content {
    position: absolute;
    top: 42%;
    left: 25%;
}

.container {
    display: flex;
    gap: 40px;
    padding-left: 30px;
}

.feature {
    width: 650px;
}

.feature h2 {
    font-weight: bolder;
    font-size: 40px;
}

.feature P {
    color: red;
}

.accordion {
    width: 450px;
    background-color: whitesmoke;
}

.accordion-item {
    background-color: transparent !important;
    border: none !important;
}

.accordion-button {
    background-color: transparent !important;
    box-shadow: none !important;
}

.container .details {
    width: 400px;
    box-shadow: 0 0 8px 3px lightgray;
    padding: 20px;
}

.info {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    border-bottom: 2px solid rgb(241, 240, 240);
}

.info h4 {
    font-weight: bold;
}

.info img {
    height: 50px;
}

.space p {
    color: rgb(193, 192, 192);
}

.featured-icon {
    background-color: orangered;
    padding: 25px;
    width: 120px;
    border-radius: 50%;
    position: relative;
    bottom: 95px;
    left: 60px;
}

.featured-icon img {
    width: 70px;
}

.video img {
    width: 100%;
    height: 400px;
}

.video-text {
    text-align: center;
    position: relative;
    bottom: 330px;
}

.video-text p {
    color: orangered;
}

.video-text h2 {
    color: white;
    font-weight: bold;
}


#video-frame {
    align-items: center;
    width: 800px;
    height: 400px;
    border-radius: 5px;
    position: absolute;
    top: 140px;
    left: 25%;
}

#play-icon {
    color: orangered;
    border-radius: 50%;
    background-color: white;

    padding: 8px;
    position: relative;
    bottom: 140px;
    left: 760px;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-right: 30px;
    padding-left: 15px;
    box-shadow: 0 0 30px 10px orangered;
}

.box-container {
    display: flex;
    justify-content: space-evenly;
}

.box {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    background-color: #fde9e2;
    padding: 0px 15px;
    position: relative;
}

.box span {
    color: orangered;
    font-size: 30px;
    font-weight: bolder;
}

.box p {
    font-weight: bold;
    margin: 0;
}

.box .circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    background-color: orangered;
    bottom: 75%;
    left: 85%;
}

.best-container {
    background-color: whitesmoke;
    padding: 80px 0px;
}

.best-deal {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.best-deal span,
h2 {
    font-weight: bolder;
}

.buttons {
    display: flex;
    gap: 20px;
    height: 45px;
}

.buttons button {
    border-radius: 5px;
    padding: 5px 40px;
    color: white;
    background-color: black;
    border: none;
}

.flat {
    display: flex;
    gap: 70px;
    padding: 20px 100px;
}

.data {
    border-radius: 5px;
    padding: 10px 30px;
    width: 400px;
    height: 350px;
    box-shadow: 0 0 5px 4px lightgray;
}

.data .information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5px;
    border-bottom: 1px solid lightgray;
}

.information p {
    margin: 0%;
    font-weight: bolder;
}

.information span {
    color: gray;
}

.extra-info {
    width: 400px;
    padding: 0px 20px;
}

.extra-info h5 {
    padding-bottom: 20px;
}

.extra-info button{
    background-color: black;
    color: red;
    border-radius: 20px;
    padding: 2px ;
    width: 160px;
}

.extra-info i {
    color: white;
    background-color: orangered;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 7px 3px;
}

.properties-head{
    margin-top: 40px;
    text-align: center;

}

.cards {
    display: flex;
    gap: 60px;
    padding: 20px 115px;
}

.card {
    width: 390px;
    height: 570px;
    padding: 20px 20px;
    background-color: whitesmoke;
    border: none;
}

.card span {
    background-color: #fbd9cf;
    border-radius: 5px;
    padding: 5px 10px;

}

.luxury {
    display: flex;
    justify-content: space-between;
}

.title h5 {
    font-weight: bold;
}

.villa-info1 {
    display: flex;
    gap: 20px;
}

.villa-info2 {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid lightgray;
}

.villa-info1 p {
    margin: 0;
}

.card button {
    width: 150px;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin: auto;
}

/* Contactus */
.contact-us {
    position: relative;
}

.text span {
    font-size: 13px;
    font-weight: bold;
}

.contact-us .text {
    text-align: center;
    color: white;
    position: absolute;
    left: 40%;
    bottom: 60%;
}

.contact-us img {
    width: 100%;
}

.contact-us iframe {
    position: absolute;
    top: 50%;
    right: 50%;
}

.contact-us form {
    padding: 20px 25px;
    background-color: white;
    position: absolute;
    left: 55%;
    top: 50%;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 3px 2px lightgray;
}

form input {
    border-radius: 25px;
    background-color: whitesmoke;
    width: 450px;
    border: transparent;
}

form input,
label {
    padding: 10px 10px;
}

form textarea {
    border-radius: 25px;
    background-color: whitesmoke;
    border: transparent;
    padding: 10px 10px;
}

form button {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

.call-details {
    display: flex;
    position: relative;
    top: 345px;
    left: 11%;
    gap: 40px;
    width: 500px;
}

.call,
.mail {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 280px;
    border-radius: 5px;
    box-shadow: 0 0 5px 4px lightgray;
}

.call p,
.mail p {
    margin: 0;
}

.call i,
.mail i {
    color: orangered;
    font-size: 40px;
}

.footer {
    height: 80px;
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
    top: 400px;
    position: relative;
    margin-top: 80px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------PROPERTY DETAILS CSS--------------------------------------------------------------------------------------- */

.behind-image img {
    width: 100%;
}

.behind-image {
    position: relative;
}

.behind-text {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 38%;
}

.behind-text span {
    background-color: white;
    padding: 10px 15PX;
    font-size: 15px;
}

.behind-text h1 {
    color: white;
    font-weight: bolder;
    padding-top: 25px;
}

.apartment {
    display: flex;
    gap: 70px;
    justify-content: center;
    padding-top: 80px;
}

.apartment .details {
    box-shadow: 0px 0px 5px grey;
    width: 400px;
    padding: 10px 15px;
}

.apartment-text span {
    padding: 5px;
    border-radius: 5px;
}

.apartment-text h4 {
    padding-bottom: 40px;
    font-weight: bolder;
}

.apartment-text {
    padding: 30px 80px;
}

.apartment-text .para {
    border-top: 1px solid lightgray;
    padding-top: 40px;
    width: 880px;
    text-align: justify;
}

.apartment-text .accordion {
    width: 900px;
    background-color: whitesmoke;
    margin-bottom: 60px;
}

.foot {
    height: 80px;
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------PROPERTIES CSS-------------------------------------------------------------------------------------------------------------------------- */

.back-image img {
    width: 100%;
}

.back-image {
    position: relative;
}

.back-text {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 41%;
}

.back-text span {
    background-color: white;
    padding: 10px 15PX;
    font-size: 15px;
}

.back-text h1 {
    color: white;
    font-weight: bolder;
    padding-top: 25px;
}

.properties-buttons {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.properties-buttons button {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    border: none;
    margin-top: 80px;
    margin-bottom: 60px;
}

.number {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 80px;
}

.number button {
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------CONTACT US---------------------------------------------------------------------------------------------------- */
.contact-image img {
    width: 100%;
}

.contact-image {
    position: relative;
}

.contact-text {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 40%;
}

.contact-text span {
    background-color: white;
    padding: 10px 15PX;
    font-size: 10px;
}

.contact-text h1 {
    color: white;
    font-weight: bolder;
    padding-top: 25px;
}

.agents h2 {
    text-align: start;
}

.agents p {
    width: 650px;
}

.get-in {
    display: flex;
    justify-content: space-between;
    padding: 80px 120px;
}

.get-in form {
    padding: 20px 25px;
    background-color: white;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 3px 2px lightgray;
}

.location iframe {
    width: 100%;
    padding: 10px 120px;
    margin-bottom: 90px;

}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------MEDIA QUERY FOR LARGE MOBILE--------------------------------------------------------------------------------------------------------------------- */
@media (min-width:425px) and (max-width:767px) {
    .top-bar {
        padding: 5px 15px;
    }

    .top-bar p {
        font-size: 10px;
    }

    .about i {
        font-size: 10px;
    }

    .icons i {
        font-size: 10px;
        padding-right: 15px;
    }

    .villa {
        display: none;
    }

    .navbar {
        display: block;
    }

    .navbar-toggler {
        font-size: 15px;
        padding: 5px;
    }

    .place {
        font-size: 10px;
        width: 80px;
    }

    .content h2 {
        font-size: 15px;
    }

    .content {
        top: 18%;
        left: 23%;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .accordion {
        width: 400px;
    }

    .details {
        width: 380px;
    }

    .feature {
        width: 400px;
    }

    .featured-icon {
        position: relative;
        padding: 25px;
        width: 100px;
        border-radius: 50%;
        bottom: 1130px;
        left: 1px;
    }

    .featured-icon img {
        width: 50px;
    }

    .video img {
        width: 100%;
        height: auto;
    }

    .video-text {
        font-size: 20px;
        text-align: center;
        position: relative;
        bottom: 130px;
        left: 0px;
    }

    .video-text p {
        font-size: 10px;
        margin-bottom: 0px;
    }

    .video-text h2 {
        color: white;
        font-weight: bold;
        font-size: 20px;
        margin-top: 0px;
    }

    #video-frame {
        margin: 0px;
        width: 300px;
        height: 150px;
        position: absolute;
        left: 15%;
        top: 77px;
    }

    #play-icon {
        position: relative;
        bottom: 67px;
        left: 197px;
        font-size: 12px;
        padding-right: 16px;
        padding-left: 7px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .box span {
        font-size: 20px;
    }

    .box p {
        font-size: 10px;
        margin: 0;
    }

    .box {
        width: 127px;
        gap: 10px;
    }

    .box .circle {
        height: 20px;
        width: 20px;
        bottom: 71%;
        left: 88%;
    }

    .best-deal {
        justify-content: space-between;
        padding: 0 10px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 40px;
    }

    .buttons button {
        padding: 5px 30px;
    }

    .flat {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .data {
        padding: 5px 20px;
        width: 300px;
        height: 350px;
    }

    .flat img {
        width: 450px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 30px;
    }

    .contact-us iframe {
        position: absolute;
        top: 9%;
        left: 9%;
        width: 350px;
        height: 244px;
    }

    .text span {
        font-size: 8px;
    }

    .contact-us .text {
        left: 40%;
        bottom: 93%;
    }

    .text h2 {
        font-size: 12px;
    }

    .contact-us form {
        position: relative;
        width: 400px;
        top: 207px;
        left: 4%;
    }

    form input {
        width: 354px;
    }

    form textarea {
        width: 354px;
    }

    .call,
    .mail {
        gap: 20px;
        padding: 5px;
        width: 221px;

    }

    .call-details {
        top: 250px;
        left: 2%;
        gap: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer {
        font-size: 10px;
        margin-top: 0px;
    }
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------PROPERTY DETAILS FOR LARGE MOBILE---------------------------------------------------------------------------------------------------------- */
    .apartment {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        gap: 30px;
        align-items: center;
    }

    .apartment .prpty-img {
        width: 100%;
    }

    .behind-text span {
        padding: 2px 5PX;
        font-size: 5px;
    }

    .behind-text h1 {
        font-size: 10px;
        padding-top: 5px;
    }

    .behind-text {
        top: 18%;
        left: 40%;
    }

    .apartment-text {
        padding: 30px 30px;
    }

    .apartment-text .para {
        border-top: 1px solid lightgray;
        padding-top: 20px;
        width: 350px;
    }

    .apartment-text h4 {
        padding-bottom: 20px;
    }

    .apartment-text .accordion {
        width: 100%;
    }
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
    /* --------------------PROPERTIES  CSS FOR LARGE MOBILE------------------------------------------------------------------------------------------------------------------- */
    .back-text span {
        padding: 1px 4px;
        font-size: 7px;
    }

    .back-text h1 {
        font-size: 15px;
        padding-top: 5px;
    }

    .back-text {
        top: 20%;
        left: 42%;
    }

    .properties-buttons button {
        padding: 4px 5px;
    }

    .foot {
        font-size: 10px;
        margin-top: 0px;
    }
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------- */
    /* -------------------------------------CONTACT US CSS FOR LARGE MOBILE------------------------------------------------------------------------------------------------------- */
    .contact-text {
        top: 20%;
        left: 40%;
    }

    .contact-text span {
        background-color: white;
        padding: 2px 3PX;
        font-size: 6px;
    }

    .contact-text h1 {
        padding-top: 5px;
        font-size: 11px;
    }

    .agents p {
        width: 400px;
        text-align: justify;
    }
    .agents .connect{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .get-in {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 80px 20px;
    }

    .get-in form {
        width: 400px;
    }

    .connect p {
        width: 150px;
    }

    .location iframe {
        padding: 10px 10px;

    }
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------MEDIA QUERY FOR TABLET--------------------------------------------------------------------------------------------------------------------------- */
@media (min-width:768px) and (max-width:1023px) {
    .navbar {
        display: block;
    }

    .villa {
        display: none;
    }

    .top-bar {
        padding: 10px 20px;
    }

    .place {
        font-size: 10px;
        width: 80px;
    }

    .content h2 {
        font-size: 28px;
    }

    .content {
        top: 28%;
        left: 23%;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature {
        width: 400px;
    }

    .featured-icon {
        position: relative;
        padding: 25px;
        width: 100px;
        border-radius: 50%;
        bottom: 1111px;
        left: 170px;
    }

    .featured-icon img {
        width: 50px;
    }

    .video img {
        width: 100%;
        height: auto;
    }

    .video-text {
        position: relative;
        bottom: 235px;
        right: 15px;
    }

    .video-text p {
        font-size: 15px;
        margin-bottom: 0px;
    }

    .video-text h2 {
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    #video-frame {
        margin: 0px;
        width: 500px;
        height: auto;
        position: absolute;
        left: 20%;
        top: 100px;
    }

    #play-icon {
        position: relative;
        bottom: 120px;
        left: 385px;
        font-size: 18px;
    }

    .best-deal {
        justify-content: space-between;
        padding: 0 10px;
    }

    .buttons {
        display: flex;
        gap: 10px;
        height: 40px;
    }

    .buttons button {
        padding: 5px 30px;
    }

    .flat {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 45px;
        gap: 20px;
    }

    .data {
        padding: 10px 25px;
        width: 300px;
        height: 350px;
    }

    .flat img {
        width: 350px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 10px 30px;
    }

    .contact-us .text {
        top: 4%;
    }

    .contact-us iframe {
        position: absolute;
        top: 15%;
        left: 10%;
        height: 250px;
    }

    .contact-us form {
        position: relative;
        width: 500px;
        top: 180px;
        left: 17%;
    }

    .call-details {
        top: 250px;
        left: 17%;
        width: 500px;
        gap: 40px;
    }

    .footer {
        margin-top: 0;
    }

    .apartment-text .accordion {
        width: 100%;
    }

    .back-text span {
        padding: 1px 4px;
        font-size: 10px;
    }

    .back-text h1 {
        font-size: 20px;
        padding-top: 5px;
    }

    .back-text {
        top: 20%;
        left: 42%;
    }
    /* ------------------------------------------------------------------------------------------------------------------------------------------------ */
    /* ---------PROPERTY DETAILS CSS FOR TABLET------------------------------------------------------------------------------------------------------------------------ */
    .behind-text span {
        padding: 2px 5PX;
        font-size: 10px;
    }

    .behind-text h1 {
        font-size: 20px;
        padding-top: 5px;
    }

    .behind-text {
        top: 28%;
        left: 40%;
    }

    .apartment {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .apartment .prpty-img {
        width: 100%;
    }

    .apartment-text h4 {
        padding-bottom: 20px;
    }

    .apartment-text {
        padding: 30px 50px;
        justify-content: center;
    }

    .apartment-text .para {
        border-top: 1px solid lightgray;
        padding-top: 20px;
        width: 700px;
    }

 /* -------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------CONTACT US CSS FOR TABLET--------------------------------------------------------------------- */
   .contact-text {
        top: 25%;
        left: 41%;
    }

    .contact-text span {
        padding: 5px 5PX;
        font-size: 10px;
    }

    .contact-text h1 {
        padding-top: 10px;
        font-size: 20px;
    }

.get-in {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 80px 50px;
    }
    .connect p {
        width: 150px;
    }
       .agents .connect{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* -------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------MEDIA QUERIES FOR LAPTOP------------------------------------------------------------------------------------------------ */
@media (min-width:1024px) and (max-width:1439px) {
    .place {
        width: 130px;
    }

    .content h2 {
        font-size: 40px;
    }

    .content {
        top: 32%;
        left: 22%;
    }

    .container {
        display: flex;
        gap: 10px;
    }

    .featured-image {
        width: 300px;
    }

    .feature {
        width: 330px;
    }

    .accordion {
        width: 350px;
    }

    .featured-icon {
        padding: 25px;
        width: 100px;
        border-radius: 50%;
        position: relative;
        bottom: 70px;
        left: 20px;
    }

    .featured-icon img {
        width: 50px;
    }

    #video-frame {
        margin: 0px;
        width: 700px;
        height: auto;
        position: absolute;
        left: 15%;
        top: 145px;
    }

    #play-icon {
        position: relative;
        bottom: 150px;
        left: 480px;
    }

    .best-deal {
        justify-content: space-between;
        padding: 0 60px;
    }

    .buttons {
        gap: 10px;
        height: 40px;
    }

    .buttons button {
        padding: 5px 30px;
    }

}