.top-bar p{
    display: inline;
    color: grey;
}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    padding: 20px 60px;
}
.about
{
    display: flex;
    gap:20px;
}
.about
 i{
    color: orangered;
}
.icons i {
    font-size: 18px;
    border-radius: 50%;
    padding: 4px;
    padding-right: 20px;
    background-color: lightgray;
    color: white;
}
.villa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
}
.nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav a{
    text-decoration: none;
    display: flex;
    color: black;
}
.schedule{
    background-color: black;
    color: red;
    border-radius: 15px;
    padding: 5px;
    width: 150px;
}
.schedule i{
    color: white;
    background-color: orangered;
    border-radius: 50%;
    padding: 5px;
}
.navbar{
    display: none;
}
.place{
    background-color: white;
    text-align: center;
    width: 130px;
    padding: 2px;
}
#carouselExample{
    position: relative;
}
.content h2{
    color: white;
    font-size: 53px;
    font-weight: bold;
}
.content{
    position: absolute;
    top: 42%;
    left:25%;
}
.container{
    display: flex;
    gap: 40px;
    padding-left: 30px;
}
.feature{
    width:650px;
}
.feature h2{
    font-weight: bolder;
    font-size: 40px;
}
.feature P{
    color: red;
}
.accordion{
    width: 450px;
}
.accordion-item {
  background-color: transparent !important;
  border: none !important;
}
.accordion-button {
  background-color: transparent !important;
  box-shadow: none !important;
}
.details{
    width: 400px;
    box-shadow: 0 0 8px 3px lightgray;
    padding: 20px;
}
.info{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    border-bottom: 2px solid rgb(241, 240, 240);
}
.info h4{
    font-weight: bold;
}
.info img{
    height: 50px;
}
.space p{
    color:rgb(193, 192, 192);
}
.featured-icon{
    background-color: orangered;
    padding: 25px;
    width: 120px;
    border-radius: 50%;
    position: relative;
    bottom:95px;
    left:60px;
}
.featured-icon img{
    width: 70px;
}
.video-bg img{
    width: 100%;
}
.video-txt h2{
    font-weight: bolder;
    color: white;
}
.video-txt span{
    color: orangered;
}
.video-txt{
    width: 500px;
    font-weight: bold;
    text-align: center;
    position: relative;
    bottom: 425px;
    left: 35%;
    gap: 20px;
}
.video-frame{
    width: 450px;
    position: relative;
    bottom: 338px;
    left: 15%;
}



/* ------------------------------------------MEDIA QUERY FOR LARGE MOBILE--------------------------------------------------------------------------------------------------------------------- */
@media (min-width:425px) and (max-width:767px){
 .top-bar{
         padding:5px 15px;
    }
.top-bar p{
    font-size: 10px;
} 
.about
 i{
    font-size:10px;
}
.icons i {
    font-size: 10px;
    padding-right: 15px;
}
.villa{
    display:none;
}
.navbar{
    display:block;
}
.navbar-toggler{
    font-size: 15px;
    padding: 5px;
}
.place{
    font-size: 10px;
    width: 80px;
}
.content h2{
    font-size: 15px;
}
.content{
    top: 18%;
    left:23%;
}
.container{
    display: flex;
    flex-direction: column;
    gap:50px;
}
.accordion{
    width: 400px;
}
.details{
    width: 380px;
}
.feature{
    width: 400px;
}
.featured-icon{
    position: relative;
    padding: 25px;
    width: 100px;
    border-radius: 50%;
    bottom:1130px;
    left:1px;
}
.featured-icon img{
    width: 50px;
}
.video-txt{
    width: 300px;
    font-weight: bold;
    font-size: 8px;
    position: relative;
    bottom: 113px;
    left: 15%;
}
.video-txt h2{
    font-size: 10px;
}
.video-frame{
    width: 325px;
    position: relative;
    bottom: 101px;
    left: 12%;
}
.video-frame img{
    height: 145px;
}
}
/* ----------------------MEDIA QUERY FOR TABLET--------------------------------------------------------------------------------------------------------------------------- */
@media (min-width:768px) and (max-width:1023px){
    .navbar{
    display:block;
}
.villa{
    display:none;
}
.top-bar{
    padding: 10px 20px;
}
.place{
    font-size: 10px;
    width: 80px;
}
.content h2{
    font-size: 28px;
}
.content{
    top: 28%;
    left:23%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature{
    width: 400px;
}
.featured-icon{
    position: relative;
    padding: 25px;
    width: 100px;
    border-radius: 50%;
    bottom:1111px;
    left:170px;
}
.featured-icon img{
    width: 50px;
}
.video-txt{
    width: 300px;
    font-size: 8px;
    position: relative;
    bottom: 219px;
    left: 31%;
}
.video-txt h2{
    font-size: 20px;
}
.video-frame{
    width: 325px;
    bottom: 168px;
    left: 12%;
}
.video-frame img{
    height: 260px;
}
}
/* ------------------MEDIA QUERIES FOR LAPTOP-------------------------- */
@media (min-width:1024px) and (max-width:1439px){
.place{
    width: 130px;
}
.content h2{
    font-size: 40px;
}
.content{
    top: 32%;
    left:22%;
}
.container{
    display: flex;
    gap: 10px;
}
.featured-image{
    width: 300px;
}
.feature{
    width: 330px;
}
.accordion{
    width: 350px;
}
.featured-icon{
    padding: 25px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom:70px;
    left:20px;
}
.featured-icon img{
    width: 50px;
}
.video-txt{
    width: 300px;
    font-size: 13px;
    position: relative;
    bottom: 287px;
    left: 36%;
}
.video-txt h2{
    font-size: 25px;
}
.video-frame{
    width: 325px;
    bottom: 168px;
    left: 12%;
}
.video-frame img{
    height: 345px;
}
}